header {
    padding: 0px;
    text-align: center;
    background: yellow;
}

nav {
    text-align: center;
    background: lightblue;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

article {
    padding: 5px;
    border: 5px dotted green;
    background: greenyellow;
}

aside {
    margin-top: 50px;
    background-color: lightpink;
    text-align: center;
    font-style: italic;
    border: 5px double palevioletred;
}

section {
    padding: 5px;
    border: 5px dotted red;
    background: lightcoral;
    color: white;
}

footer {
    text-align: center;
}